{% extends 'base.html' %} {% block content %}{% load static %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url({% static 'pics/col.png'%});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    
    .container {
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .6);
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        box-sizing: border-box;
        left: 50%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 50px;
        padding-left: 50px;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
        width: 60%;
    }
</style>
<div class="container">
    <h1>New Post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>
{% endblock content %}